
name: 2. Update Financial Data

on:
  schedule:
    - cron: '0 10 * * *' # Diario 10:00 UTC
  push:
    branches: ["main"] # SE DISPARA AL HACER PUSH
  workflow_dispatch:

jobs:
  fetch-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Fetch Data (Multi-Source Strategy)
        run: node scripts/fetch-metrics.js

      - name: Commit Data
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add public/data/metrics.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Daily Data Update" && git push)
